	         .pace {
         -webkit-pointer-events: none;
         pointer-events: none;
         -webkit-user-select: none;
         -moz-user-select: none;
         user-select: none;
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         -webkit-transform: translate3d(0, -50px, 0);
         -ms-transform: translate3d(0, -50px, 0);
         transform: translate3d(0, -50px, 0);
         -webkit-transition: -webkit-transform .5s ease-out;
         -ms-transition: -webkit-transform .5s ease-out;
         transition: transform .5s ease-out;
         }
         .pace.pace-active {
         -webkit-transform: translate3d(0, 0, 0);
         -ms-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
         }
         .pace .pace-progress {
         display: block;
         position: fixed;
         z-index: 2000;
         top: 0;
         right: 100%;
         width: 100%;
         height: 10px;
         background: aqua;
         pointer-events: none;
         }
         .jumbotron:hover { transform:scale(1.09) !important;    -webkit-transition: all .1s cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
         transition: all .1s cubic-bezier(0.25, 0.46, 0.45, 0.94) !important; }
         .jumbotron { height:450px !important; }
         body {
         overflow-x:hidden !important;
 background: #222;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
         }
         .navbar {
         }
         .sidek {
         display: flex;
         align-items: center;
         justify-content: center;
         }
         .sidek:after, .sidek:before {
         content: '';
         width: 130px;
         height: 2px;
         background: rgba(255,255,255,0.8);
         margin: 0 25px;
         box-shadow: 0 2px 2px rgba(0,0,0,.4);
         }
         .ev-wrap {
         padding:2px 0px; 
         height: 100%;
         position: relative;
         width: 100%;
         display: inline-block;
         }
         .event-block {
         position:relative;
         overflow: hidden;
         background: rgb(10,42,51); /* Old browsers */
         background: -moz-linear-gradient(-15deg, rgba(10,42,51,1) 0%, rgba(16,70,84,1) 58%, rgba(11,57,73,1) 58%, rgba(0,14,28,1) 100%); /* FF3.6-15 */
         background: -webkit-linear-gradient(-15deg, rgba(10,42,51,1) 0%,rgba(16,70,84,1) 58%,rgba(11,57,73,1) 58%,rgba(0,14,28,1) 100%); /* Chrome10-25,Safari5.1-6 */
         background: linear-gradient(105deg, rgba(10,42,51,1) 0%,rgba(16,70,84,1) 58%,rgba(11,57,73,1) 58%,rgba(0,14,28,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2a33', endColorstr='#000e1c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */         background-attachment:scroll;
         padding:5px 27px;
         background-position:14% 90%;
         background-size:100% 140%;
         box-shadow: 0 1px 3px rgba(0,0,0,0.25), 0 2px 5px rgba(0,0,0,0.42);
         border:1px solid #333;
         transition:all .178s ease;
         margin-bottom:8px;
         -webkit-box-sizing: border-box !important; 
         -moz-box-sizing: border-box !important;
         box-sizing: border-box !important;      
         border-radius:3px;
         }
         .event-block {
         }
         .event-block:hover {
         border:1px solid #eee;
         }
         .event-block h4{ 
         position: relative;
         z-index: 4;
         font-family: 'Titillium Web', sans-serif;
         font-weight:700;
         text-transform:uppercase;
         padding:10px 0px 0px 0px;
         font-size:12px;
         text-align:center;
         }
         .event-block h5{ 
         position: relative;
         z-index: 2;
         font-family: 'Titillium Web',sans-serif;
         font-weight:500;
         text-transform:uppercase;
         padding:0px 0px 0px 0px;
         text-align:center;
         font-size:13px;
         }
         .event-block h6{ 
         position: relative;
         z-index: 2;
         font-family: 'Heebo', sans-serif;
         font-weight:500;
         text-transform:uppercase;
         padding:0px 0px 0px 0px;
         font-size:11px;
         }
         .event-block:hover .watch-l a{
         background:#16A085;
         }
         .watchbox {
         padding:15px 15px 15px 15px;
         position:relative;
         z-index:3;
         }
         .nopadding {
         padding: 0 !important;
         margin: 0 !important;
         }
         .watch-l {
         background: transparent;
         border: 1px solid rgba(255,255,255,.8);
         border-radius: 3px;
         display: block !important;
         transition:all .4s ease;
         font-family:'Roboto',sans-serif;
         box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
         }
         .watch-l > a{
         display:block !important;
         padding:8px 25px;
         transition:all .2s ease;
         font-family:'Titillium Web';
         font-weight:700;
         }
         .watch-l:hover {
         background:#009688;
         }
         .watch-ll {
         background: #0097A7;
         border: 1px solid rgba(255,255,255,.5);
         border-radius: 3px;
         display: block !important;
         transition:all .1s ease;
         margin-bottom:11px;
         font-family:'Roboto',sans-serif;
         box-shadow: 21px 15px 30px rgba(0,0,0,0.69), 0 6px 6px rgba(0,0,0,0.23);
         }
         .watch-ll > a{
         display:block !important;
         padding:16px 44px;
         transition:all .1s ease;
         font-family:'Titillium Web';
         font-weight:700;
         }
         .watch-ll:hover {
         background: #013243;}
         .topper 
         {
         -webkit-filter: drop-shadow(5px 5px 5px #000);Wa
         filter: drop-shadow(5px 5px 5px #000);
         }
         .clock {
         width: 270px;
         }
         a-li a {
         display:block;
         }
         hr.style10 {
         border-top: 1px dotted #fff;
         border-bottom: 1px dotted #fff;
         width:13%;
         margin:0 auto;
         }
         .btnmds {
         -webkit-animation: scaling 2s infinite alternate;
         }
         @-webkit-keyframes scaling {
         From {
         -webkit-transform: scale(1.0);
         }
         To {
         -webkit-transform: scale(1.18);
         }
         }
         .br { font-weight:bold; } 
         footer { background-color:rgba(1,1,1,.7) !important }
         .evsk { }
         .vtri { opacity:0; animation-duration:.35s !important; }
         .eventro { opacity:0; animation-duration:1.34s !important; }
         .animated { opacity:1; }
         .stcn {margin:0 auto;}
         .categ {font-family:'Titillium Web'; font-size:10px; font-style:italic; font-weight:600;}
         #particles-js {
         position:absolute;
         height:30px;
         }
         .don {
         background-image:url(uploads/uslaz1.jpg);
         }
         .watch-ll a {
         color:#fff !important;
         text-transform:uppercase;
         }
         .teddy {display:none;}
         @media screen and (min-width: 702px) {
         .watch-ll { margin-top:22px; }
         .tooc {
         display:block;
         -webkit-box-shadow: 1px 1px 2px 5px rgba(117,117,117,1);
         -moz-box-shadow: 1px 1px 2px 5px rgba(117,117,117,1);
         box-shadow: 1px 1px 2px 5px rgba(117,117,117,1);
         }
         .nooc {
         display:none;
         -webkit-box-shadow: 1px 1px 2px 5px rgba(117,117,117,1);
         -moz-box-shadow: 1px 1px 2px 5px rgba(117,117,117,1);
         box-shadow: 1px 1px 2px 5px rgba(117,117,117,1);
         }
         }
         @media screen and (min-width: 10px) and (max-width: 901px) {
         .tooc {
         display:none;
         -webkit-box-shadow: 1px 1px 2px 5px rgba(117,117,117,1);
         -moz-box-shadow: 1px 1px 2px 5px rgba(117,117,117,1);
         box-shadow: 1px 1px 2px 5px rgba(117,117,117,1);
         }  
         .nooc {
         display:block;
         -webkit-box-shadow: 1px 1px 2px 5px rgba(117,117,117,1);
         -moz-box-shadow: 1px 1px 2px 5px rgba(117,117,117,1);
         box-shadow: 1px 1px 2px 5px rgba(117,117,117,1);
         }
         }
         .box {
         position:relative;
         color: #0b7;
         text-align: center;
         transition: 0.5s;
         cursor: pointer;
         border: 2px solid #0b7;
         -webkit-transition:0.5s;
         }
         .box:hover {
         border: 2px solid rgba(0,160,80,0);
         color: #FFF;
         }
         .box::before, .box::after {
         width: 100%;
         height:100%;
         z-index: 3;
         content:'';
         position: absolute;
         box-sizing: border-box;
         -webkit-transform: scale(0);
         transition: 0.5s;
         }
         .foo::before {
         border-bottom: 3px solid #FFF;
         border-left: 3px solid #FFF;
         -webkit-transform-origin: 0 100%;
         }
         .foo::after {
         border-top: 3px solid #FFF;
         border-right: 3px solid #FFF;
         -webkit-transform-origin: 100% 0%;
         }
         .opl {opacity:.5;}
         .grne { background:#2ecc71; }
	 .navbar-brand {font-family:'Titillium Web', sans-serif;} 
